doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="referrer" content="no-referrer")
    link(rel="search" type="application/opensearchdescription+xml" title="fivecat" href="/vendor/search/opensearch.xml")
    title Search | Fivecat.XYZ
    include _assets/css
    include _assets/scripts
  body
    != yield